
BlazorApp/bin/

BlazorApp/obj/

Tailspin.SpaceGame.Web/bin/

Tailspin.SpaceGame.Web/obj/

Tailspin.SpaceGame.Web.Tests/bin/

Tailspin.SpaceGame.Web.Tests/obj/

ConsoleApp1/bin/

ConsoleApp1/obj/

ConsoleApp2/bin/

ConsoleApp2/obj/
